{% extends 'layout.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}


<head>
{% block title %} RM|Login {% endblock %}
<link rel="stylesheet" href="{% static '../static/css/formulario.css' %}">

</head>
<br>

<div class="form">
    <form action="" method="post" >
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <button type="submit" id="submit" >Entrar</button>
    
    </form>
    <br>

    <h2>¿Aún no estás Registrado?</h2>

    <a href="{% url 'registro' %}"><button>Registrate</button></a>
    
</div>
<br>
<div class="registro-google">
    Registrate con Google: 
    <a href="{% provider_login_url 'google' %}">  
    <i class="bi bi-google"></i>
    </a>

</div>

{% endblock content %}

