{% extends 'layout.html' %}
{% load static %}
{% block title %} RM|Home {% endblock %}
{% block content%}
<div class="reserva">
    {% if user.is_authenticated %}

    <a href={% url 'reservas' %}><button class="boton-reserva">Reservar</button></a>

    {% else %}

    <a href={% url 'reservas' %}><button class="boton-reserva">Reservar</button></a>

    {% endif %}
</div>
<br>

<div class="social">
    <a href="http://instagram.com" target="_blank"> <i class="bi bi-instagram"> &nbsp; </i></a> 
    <a href="http://twitter.com"><i class="bi bi-twitter"> &nbsp; </i></a> 
    <a href="http://facebook.com"><i class="bi bi-meta"> &nbsp; </i></a> 
</div>
<br>
<hr>
<br>

{% if user.is_authenticated %}

{% else %}

<div class="registro">

    <a href="{% url 'registro' %}"><button>Registrarse</button></a>
    <a href="{% url 'login' %}"><button>Log in</button></a>

</div>


{% endif %}
<br/>
<br/>

<div class="imagen-home">
<img src="../static/images/cocktails.gif" alt="" class="img-home">
</div>

<br/>
<br/>

<h2>Eventos <i class='bx bx-down-arrow-alt bx-fade-down bx-flip-horizontal' ></i></h2>

<p>Aqui se publicaran eventos y ofertas</p>

{% if perms.reservas.add_evento %}
<div class="crear-eventos">
    <a href="{% url 'crear-evento' %}"><button>Crear Eventos</button></a>
    <hr>
</div>
{% endif %}
<div class="contenedor-eventos">
    {% if eventos %}
    {% for evento in eventos %}
    <div class="ofertas">
        <a href="{% url 'ver-evento' evento.id %}">


            <img class="img-evento" src="{% static 'images/' %}{{evento.imagen}}" alt="">
            <h2> {{evento.titulo}} </h2>

            {% if perms.reservas.delete_evento %}
            <a href="{% url 'eliminar-evento' evento.id %} ">Eliminar</a>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}